/* テーブル内改行無 */
.table-no-new-line > thead > tr > th,
.table-no-new-line > tbody > tr > th,
.table-no-new-line > tfoot > tr > th,
.table-no-new-line > thead > tr > td,
.table-no-new-line > tbody > tr > td,
.table-no-new-line > tfoot > tr > td {
    white-space: nowrap;
}

/* td背景色 */
td.bgCu {
    background-color: #ffbbcc;
}

td.bgCo {
    background-color: #aaeeff;
}

td.bgPa {
    background-color: #ffdd66;
}

td.bgTrue {
    background-color: #ffd466;
}

/* グループ別背景色 */
.bgGroupA {
    background-color: #ffacb4;
}

.bgGroupB {
    background-color: #b4d2ff;
}

.bgGroupC {
    background-color: #ffdf7e;
}

.bgGroupD {
    background-color: #7effc3;
}